flows.json
[
    {
        "id": "3520d9db361a9cb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "669d2df7e1499c5f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e557388efe56099",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c21618fe6437a917",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d4eae1e68c3eb8be",
        "type": "elasticsearch-config",
        "name": "pw-virtual-machine",
        "server": "http://192.168.88.157:9200/",
        "timeout": "",
        "apiVersion": "_default"
    },
    {
        "id": "6e584a7cbf8c2bd9",
        "type": "debug",
        "z": "3520d9db361a9cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7ad045ddc483de9",
        "type": "mqtt in",
        "z": "3520d9db361a9cb8",
        "name": "",
        "topic": "Position",
        "qos": "2",
        "datatype": "auto",
        "broker": "3e557388efe56099",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "41eeabda0cbd3159"
            ]
        ]
    },
    {
        "id": "4eadeebb85d6750f",
        "type": "elasticsearch-index",
        "z": "3520d9db361a9cb8",
        "name": "",
        "server": "d4eae1e68c3eb8be",
        "index": "index_momo",
        "esType": "_doc",
        "esId": "",
        "routing": "",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "6e584a7cbf8c2bd9"
            ]
        ]
    },
    {
        "id": "6c4c0275a59dd419",
        "type": "inject",
        "z": "3520d9db361a9cb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "400",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "41eeabda0cbd3159"
            ]
        ]
    },
    {
        "id": "31c3b43892b0de84",
        "type": "json",
        "z": "3520d9db361a9cb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "4eadeebb85d6750f"
            ]
        ]
    },
    {
        "id": "41eeabda0cbd3159",
        "type": "function",
        "z": "3520d9db361a9cb8",
        "name": "",
        "func": "msg.payload = {\n\n    \"Postition\" : msg.payload\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "31c3b43892b0de84"
            ]
        ]
    },
    {
        "id": "d3ea455bb97586ee",
        "type": "mqtt in",
        "z": "669d2df7e1499c5f",
        "name": "",
        "topic": "position",
        "qos": "2",
        "datatype": "auto",
        "broker": "c21618fe6437a917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "5bc811ae0914c1cd"
            ]
        ]
    },
    {
        "id": "5bc811ae0914c1cd",
        "type": "debug",
        "z": "669d2df7e1499c5f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "e20ddf745beda391",
        "type": "mqtt out",
        "z": "669d2df7e1499c5f",
        "name": "",
        "topic": "position ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c21618fe6437a917",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a3a499fd9295f64",
        "type": "inject",
        "z": "669d2df7e1499c5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ciaooooooooooo",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "e20ddf745beda391"
            ]
        ]
    }
]