flows.json
[
    {
        "id": "3520d9db361a9cb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e557388efe56099",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c21618fe6437a917",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.88.85",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6abde302e801c9b9",
        "type": "inject",
        "z": "3520d9db361a9cb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ciao bell",
        "payloadType": "str",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "670eda5669c460f0"
            ]
        ]
    },
    {
        "id": "6e584a7cbf8c2bd9",
        "type": "debug",
        "z": "3520d9db361a9cb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "a7ad045ddc483de9",
        "type": "mqtt in",
        "z": "3520d9db361a9cb8",
        "name": "",
        "topic": "sys",
        "qos": "2",
        "datatype": "auto",
        "broker": "3e557388efe56099",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "670eda5669c460f0",
        "type": "mqtt out",
        "z": "3520d9db361a9cb8",
        "name": "",
        "topic": "sys",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e557388efe56099",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "4eadeebb85d6750f",
        "type": "elasticsearch-index",
        "z": "3520d9db361a9cb8",
        "name": "",
        "index": "",
        "esType": "",
        "esId": "",
        "routing": "",
        "x": 830,
        "y": 560,
        "wires": [
            [
                "6e584a7cbf8c2bd9"
            ]
        ]
    },
    {
        "id": "6c4c0275a59dd419",
        "type": "inject",
        "z": "3520d9db361a9cb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "bf539fd7cba25cda"
            ]
        ]
    },
    {
        "id": "bf539fd7cba25cda",
        "type": "function",
        "z": "3520d9db361a9cb8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "31c3b43892b0de84"
            ]
        ]
    },
    {
        "id": "31c3b43892b0de84",
        "type": "json",
        "z": "3520d9db361a9cb8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "4eadeebb85d6750f"
            ]
        ]
    }
]